h3 {
  display: inline-block;
  padding: 10px;
  background: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*button up */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none;  Remove outline 
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: black; /* Add a dark-grey background on hover */
}

/*Footer*/

#footer {
  background: 
    linear-gradient(
     rgb(64, 64, 64), 
     rgb(179, 179, 179)
    );
}
.footertext {
  color: white;
  /*font-size:300%;*/
}
/*.img-circle{
	  height: 200px;
      width: 80%;
}*/


